* {
  margin: 0;
  padding: 0;
}
body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #292b2c;
  /* background-color: #fff;*/
}

.container {
  width: 100%;
  height: 640px;
  background-image: url(banner-bk.jpg);
}

header {
  position: absolute;
  z-index: 10;
  top: 80px;
  height: 40px;
  width: 79%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header img {
  height: 80px;
  width: 80px;
  margin-left: 400px;
}
.text-right a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  margin-left: 80px;
}

.text-right a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.container h1 {
  width: 100%;
  color: #fff;
  font-size: 72px;
  position: absolute;
  z-index: 11;
  top: 190px;
  line-height: 1em;
  left: 400px;
}

.container p,
.container1 p {
  color: #fff;
  font-size: 20px;
  position: absolute;
  z-index: 12;
  top: 400px;
  left: 400px;
}

button {
  position: absolute;
  z-index: 13;
  margin: 24px 0px;
  padding: 5px 30px;
  left: 400px;
  top: 500px;
  border: 5px solid #00ffad;
  border-radius: 40px 40px 40px 40px;
  font-size: 15px;
  background-color: #00ffad;
  font-weight: bold;
}
button:hover {
  color: #fff;
  cursor: pointer;
}

footer {
  background: #192440;
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container1 {
  height: 40px;
  width: 100%;
}

.text-left p {
  position: absolute;
  z-index: 30;
  height: 40px;
  /* width: 100%;*/
  color: #fff;
  top: 40px;
  /*left: 400px;*/
  font-size: 16px;
}

.res-soc {
  color: #fff;
  height: 40px;
  width: 50%;
  font-size: 30px;
}

@media screen and (max-width: 768px) {
  header {
    position: absolute;
    z-index: 10;
    top: 79px;
    height: 20;
    width: 96%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header img {
    height: 60px;
    width: 60px;
    margin-left: 50px;
  }
  .text-right a {
    text-decoration: none;
    color: #fff;
    font-size: 16;
    margin-left: 80px;
  }

  .container h1 {
    width: 80%;
    color: #fff;
    font-size: 60;
    position: absolute;
    z-index: 11;
    top: 190px;
    line-height: 1em;
    left: 80;
    text-align: center;
  }

  p {
    color: #fff;
    width: 80%;
    font-size: 16px;
    position: absolute;
    z-index: 12;
    top: 400px;
    left: 60;
    text-align: center;
  }

  .text-left p {
    position: absolute;
    z-index: 30;
    height: 40px;
    /* width: 100%;*/
    color: #fff;
    top: 40px;
    /* left: 400px;*/
    font-size: 16px;
  }

  button {
    position: absolute;
    z-index: 13;
    margin: 24px 0px;
    padding: 5px 30px;
    left: 210px;
    top: 500px;
    border: 5px solid #00ffad;
    border-radius: 40px 40px 40px 40px;
    font-size: 14px;
    background-color: #00ffad;
    font-weight: bold;
  }

  .res-soc {
    color: #fff;
    height: 40px;
    font-size: 30px;
    position: absolute;
    left: 180;
    text-align: center;
    top: 70;
  }
}

@media screen and (max-width: 576px) {
  .container h1 {
    width: 80%;
    color: #fff;
    font-size: 60;
    position: absolute;
    z-index: 11;
    top: 190px;
    line-height: 1em;
    left: 40;
    text-align: center;
  }

  button {
    position: absolute;
    z-index: 13;
    margin: 24px 0px;
    padding: 5px 30px;
    left: 150;
    top: 500px;
    border: 5px solid #00ffad;
    border-radius: 40px 40px 40px 40px;
    font-size: 14px;
    background-color: #00ffad;
    font-weight: bold;
  }
  .container p,
  .container1 p {
    color: #fff;
    width: 80%;
    font-size: 16px;
    position: absolute;
    z-index: 12;
    top: 400px;
    left: 50;
    text-align: center;
  }
  .res-soc {
    color: #fff;
    height: 40px;
    font-size: 30px;
    position: absolute;
    left: 130;
    text-align: center;
    top: 70;
  }
}
